@layer base, mantine,tailwind;

@layer base {
  @tailwind base;
}

@layer tailwind {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* PAGE HEADER */
  .typography-page-title {
    @apply scroll-m-20 text-4xl font-bold tracking-tight;
  }

  .typography-page-description {
    @apply mt-2 max-w-2xl text-sm font-medium leading-tight text-neutral-500;
  }

  /* HEADING */
  .typography-h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight;
  }

  .typography-h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  .typography-h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  .typography-h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .typography-h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }

  .typography-h6 {
    @apply scroll-m-20 text-base font-semibold tracking-tight;
  }

  /* LINKS */
  .typography-link-default {
    @apply text-sky-500/80 hover:text-sky-700 hover:underline;
  }

  /* !|>==================================================================<|! */

  /* SUBHEADING */
  .typography-lead {
    @apply text-xl text-muted-foreground;
  }

  /* PARAGRAPH */
  .typography-p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  /* BUTTON */
  .button-pill {
    @apply h-fit bg-gray-100 p-2;
  }

  /* !^^^! */

  .typography-lead {
    @apply text-xl text-muted-foreground;
  }

  .typography-large {
    @apply text-lg font-semibold;
  }

  .typography-small {
    @apply text-sm font-medium leading-none;
  }

  .typography-muted {
    @apply text-sm text-neutral-500;
  }
}

@layer components {
  /* TWO COLUMN */
  .two-column-heading {
    @apply max-w-md;
  }

  .two-column-heading h2 {
    @apply typography-h4;
  }

  .two-column-heading p {
    @apply typography-p typography-muted;
  }
}
